<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Er. Shruti Tiwari</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <!-- LOADER -->

    <div id="loader">

        <div class="loader-content">

            <h1>Er. Shruti Tiwari</h1>
            <p>Please wait.......it will be loaded shortly</p>
            <p>For Better Experience Open In "DESKTOP MODE" </p>

            <div class="spinner"></div>

        </div>

    </div>

    <!-- HERO SECTION -->

    <section class="hero">

        <div class="overlay">

            <img src="{{ url_for('static', filename='images/teacher.jpg') }}"
                class="profile-pic">

            <h1 id="typing"></h1>

            <h3>
                Assistant Professor | Researcher
            </h3>

            <p>
                Empowering minds through education,
                innovation and lifelong learning.
            </p>

            <div class="buttons">

                <a href="https://www.qrcode-surewaltech.online/uploads/Black and White Corporate Resume.pdf" class="btn">
                    Download CV
                </a>

                <a href="#contact" class="btn">
                    Contact Me
                </a>

            </div>

            <div class="social">

                <a href="https://www.linkedin.com/in/er-shruti-tiwari-42374b204/">
                    <i class="fab fa-linkedin"></i>
                </a>

                <a href="https://scholar.google.com/citations?user=-Df94E0AAAAJ&hl=en">
                    <i class="fab fa-google"></i>
                </a>

                <a href="#">
                    <i class="fab fa-github"></i>
                </a>

                

            </div>

        </div>

    </section>

    <!-- ABOUT -->

    <section class="section fade-section">

        <h2>About Me</h2>

        <div class="glass card">

            <p>

                I am a passionate educator dedicated
                to inspiring students through
                innovative teaching methods and
                meaningful research contributions.

                My expertise includes Artificial
                Intelligence, Machine Learning,
                Data Analytics and Educational
                Technology.
                A dedicated and enthusiastic 
                Computer Science educator with 3
                years of experience as a Guest 
                Faculty. During this period, I have
                taught subjects such as Basic Computer 
                Skills, Operating Systems,
                Theory of Computation, Data Structures,
                and Basic Python,
                contributing to students' academic and 
                technical development. I am
                passionate about teaching, continuous
                learning, and knowledge
                sharing. I aspire to further advance my
                teaching journey by exploring
                new subjects, gaining diverse academic
                experiences, and enhancing
                my expertise to contribute effectively
                to the field of education and
                technology.

            </p>

        </div>

    </section>

    <!-- COUNTERS -->

    <section class="section fade-section">

        <h2>Academic Impact</h2>

        <div class="counter-container">

            <div class="glass counter-card">

                <h1 class="counter"
                    data-target="03">
                    0
                </h1>

                <p>Years Experience</p>

            </div>

            <div class="glass counter-card">

                <h1 class="counter"
                    data-target="05">
                    0
                </h1>

                <p>Research Papers</p>

            </div>

            <div class="glass counter-card">

                <h1 class="counter"
                    data-target="03">
                    0
                </h1>

                <p>Conferences Attended</p>

            </div>

            <div class="glass counter-card">

                <h1 class="counter"
                    data-target="04">
                    0
                </h1>

                <p>Certifications</p>

            </div>

        </div>

    </section>

    <!-- EXPERIENCE -->

    <section class="section fade-section">

        <h2>Professional Experience</h2>

        <div class="timeline glass">

            <h3>Assistant Professor</h3>
            <p> University Institute of Technology Barkatullah Bhopal (2024 - Present)</p>
            <p> (Department of Computer Applications)</p>



        </div>

        <div class="timeline glass">

            <h3>Visiting Faculty</h3>
            <p>Department of Pharmacy Barkatullah Bhopal ( 2024 - Present)</p>
            



        </div>

        <div class="timeline glass">

            <h3>Visiting Faculty</h3>
            <p>Department of Sociology Barkatullah Bhopal (2023 - 2024)</p>

        </div>

    </section>

    <!-- EDUCATION -->

    <section class="section fade-section">

        <h2>Education</h2>

        <div class="education-grid">

            <div class="glass card">

                <h3>Ph.D. preparation</h3>

                <p>
                    Computer Science
                </p>

            </div>

            <div class="glass card">

                <h3>M.Tech</h3>

                <p>
                    Computer Science and Engineering
                </p>

            </div>

            <div class="glass card">

                <h3>B.Tech</h3>

                <p>
                    Computer Science and Engineering
                </p>

            </div>

        </div>

    </section>

    <section class="section fade-section">

        <h2>Teaching Subjects</h2>

        <div class="education-grid">

            <div class="glass card">
                Theory Of Computation(TOC)
               
            </div>

            <div class="glass card">
                Software Engineering(SE)
            </div>

            <div class="glass card">
                operating System(OS)
            </div>

            <div class="glass card">
                Data Structures And Algorithm(DSA)
            </div>

            <div class="glass card">
                Compiler Design(CD)
            </div>

             <div class="glass card">
                Database Management System(DBMS)
            </div>

             <div class="glass card">
                Digital Logic Design(DLD)
            </div>

        </div>

    </section>

    <!-- CERTIFICATIONS -->

    <section class="section fade-section">

        <h2>Certifications</h2>

        <div class="education-grid">

            <div class="glass card">
                ORACLE CLOUD INFRASTRUCTURE 2025 AI FOUNDATIONS ASSOCIATE
                <a href="https://catalog-education.oracle.com/ords/certview/sharebadge?id=F976C8D37A5D295680115E3E5D481D1154A47968AC2E5AC2B2ADFE827FF451BE"
                    target="_blank">
                    View Credential
                </a>
            </div>

            <div class="glass card">
                Certificate Of participation Department of Drinking Water Sanitation & MyCov Congratulate 
            </div>

            <div class="glass card">
                Certificate On Bhartiya Nagrik Suraksha Sanhita 2023 By Ministry Of Home Affairs, Government Of India
            </div>

            <div class="glass card">
                Certification On Shoonya - Zero Pollution Mobility Campaign in India June 2024
            </div>

        </div>

    </section>

    <!-- RESEARCH PAPERS -->

   <section class="section fade-section">

    <h2>Research Publications</h2>

    <div class="paper-grid">

        <!-- Paper 1 -->
        <div class="glass paper-card">

            <img src="{{ url_for('static', filename='images/paper1.jpg') }}">

            <h3>WOMEN APTITUDE QUOTIENT TOOLS BY USING CHATBOT TECHNIQUE WITH PHP</h3>

            <p>SSRN • 2021</p>
            <a href="https://orcid.org/0000-0002-0483-039X" target="_blank">ORCID Profile</a>



            <button class="btn"
            onclick="openModal(
            'WOMEN APTITUDE QUOTIENT TOOLS BY USING CHATBOT TECHNIQUE WITH PHP',
            'WOMEN APTITUDE QUOTIENT TOOLS BY USING CHATBOT TECHNIQUE WITH PHP.',
            'chrome-extension://kdpelmjpfafjppnhbloffcjpeomlnpah/https://ijcrt.org/papers/IJCRT2108371.pdf'
            )">
            View Details
            </button>

        </div>

        <!-- Paper 2 -->
        <div class="glass paper-card">

            <img src="{{ url_for('static', filename='images/paper2.jpg') }}">

            <h3>PREDICTING THE SPREAD OF CORONAVIRUS BY USING WEKA TOOLS</h3>

            <p>SSRN • 2021</p>
            <a href="https://orcid.org/0000-0002-0483-039X" target="_blank">ORCID Profile</a>

            <button class="btn"
            onclick="openModal(
            'PREDICTING THE SPREAD OF CORONAVIRUS BY USING WEKA TOOLS',
            'PRESENTED AND PUBLISHED IN ONLINE TWO-DAY INTERNATIONAL CONFERENCE ON SOFT COMPUTING TECHNIQUES & COMMUNICATION ENGINEERING.',
            'https://ijermt.org/publication/7/LNCT-7.PDF'
            )">
            View Details
            </button>

        </div>

        <!-- Paper 3 -->
        <div class="glass paper-card">

            <img src="{{ url_for('static', filename='images/paper3.jpg') }}">

            <h3>Medi-Crypt: Healthcare Data Protection And Sharing Using Blockchain Technology</h3>

            <p>SSRN • 2023</p>
            <a href="https://orcid.org/0000-0002-0483-039X" target="_blank">ORCID Profile</a>

            <button class="btn"
            onclick="openModal(
            'Medi-Crypt: Healthcare Data Protection And Sharing Using Blockchain Technology',
            'Exploring the use of blockchain for secure healthcare data management.',
            'https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4322413'
            )">
            View Details
            </button>

        </div>

        <!-- Paper 4 -->
        <div class="glass paper-card">

            <img src="{{ url_for('static', filename='images/paper4.jpg') }}">

            <h3>Harnessing the Power of Artificial Intelligence in Education</h3>

            <p>SSRN • 2024</p>
            <a href="https://orcid.org/0000-0002-0483-039X" target="_blank">ORCID Profile</a>

            <button class="btn"
            onclick="openModal(
            'Harnessing the Power of Artificial Intelligence in Education',
            'Exploring the applications of AI in enhancing educational experiences.',
            'https://ssrn.com/abstract=4747352 '
            )">
            View Details
            </button>

        </div>

        <!-- Paper 5 -->
        <div class="glass paper-card">

            <img src="{{ url_for('static', filename='images/paper5.jpg') }}">

            <h3>Predicting Coca Cola Stock Prices using Random Forest Regressor and LSTM</h3>

            <p>SSRN • 2025</p>
            <a href="https://orcid.org/0000-0002-0483-039X" target="_blank">ORCID Profile</a>

            <button class="btn"
            onclick="openModal(
            'Predicting Coca Cola Stock Prices using Random Forest Regressor and LSTM',
            'Using machine learning techniques to predict stock prices.',
            'http://dx.doi.org/10.2139/ssrn.5219497'
            )">
            View Details
            </button>

        </div>

        <!-- Paper 6 -->
        <div class="glass paper-card">

            <img src="{{ url_for('static', filename='images/paper6.jpg') }}">

            <h3>THE EVOLUTION OF RISK MANAGEMENT: FROM CONVENTIONAL TRADE PRACTICES TO DATA-DRIVEN ANALYTICS</h3>

            <p>Conference • 2026</p>
            <a href="https://orcid.org/0000-0002-0483-039X" target="_blank">ORCID Profile</a>
            <button class="btn"
            onclick="openModal(
            'THE EVOLUTION OF RISK MANAGEMENT: FROM CONVENTIONAL TRADE PRACTICES TO DATA-DRIVEN ANALYTICS',
            'Exploring the transition from traditional to data-driven risk management approaches.',
            'https://thetechnicalpress.com/home/details/22'
            )">
            View Details
            </button>

        </div>

        <!-- paper 7  -->
        <!-- <div class="glass paper-card">

            <img src="{{ url_for('static', filename='images/paper7.jpg') }}">

            <h3>AI Ethics in Education</h3>

            <p>IEEE Symposium • 2019</p>

            <button class="btn"
            onclick="openModal(
            'AI Ethics in Education',
            'Exploring ethical considerations of AI in educational settings.',
            'https://your-paper-link.com/paper7'
            )">
            View Details
            </button>

            </div> -->





        

        

    </div>

</section>

<section class="section fade-section">

    <h2>Online Lectures</h2>

    <div class="paper-grid">

        <div class="glass">

            <video controls width="100%">

                <source src="{{ url_for('static',
                filename='videos/conference1.mp4') }}"
                type="video/mp4">

            </video>

            <h3>Theory Of Computation</h3>

            <p>
                Complete DFA NFA And More
            </p>

        </div>

        <div class="glass">

            <video controls width="100%">

                <source src="{{ url_for('static',
                filename='videos/conference2.mp4') }}"
                type="video/mp4">

            </video>

            <h3>Operating System</h3>

            <p>
                Complete operating System.
            </p>

        </div>

        <div class="glass">

            <video controls width="100%">

                <source src="{{ url_for('static',
                filename='videos/conference3.mp4') }}"
                type="video/mp4">

            </video>

            <h3>Software Engineering</h3>

            <p>
                Complete Software Engineering.
            </p>

        </div>

    </div>

</section>
    <!-- QR SECTION -->

    <section class="section fade-section">

        <h2>Connect With Me</h2>

        <div class="glass">

            <div class="qr-container">

                <div>

                    <img src="{{ url_for('static', filename='images/linkedinQR.png') }}">

                    <p>LinkedIn</p>

                </div>

                <div>

                    <img src="{{ url_for('static', filename='images/scholarQR.png') }}">

                    <p>Google Scholar</p>

                </div>

                <div>

                    <img src="{{ url_for('static', filename='images/SSRNQR.png') }}">

                    <p>SSRN</p>

                </div>

                <div>

                    <img src="{{ url_for('static', filename='images/bubhopalQR.png') }}">

                    <p>BU Bhopal</p>

                </div>
                <div>

                    <img src="{{ url_for('static', filename='images/VidwanQR.png') }}">

                    <p>Vidwan</p>

                </div>

            </div>

        </div>

    </section>

    <!-- CONTACT -->

    <section id="contact"
        class="section fade-section">

        <h2>Contact</h2>

        <div class="glass card">

            <p>
                Email :
                plusaptitude@gmail.com
            </p>


            <p>
                Location :
                Bhopal, India
            </p>

        </div>

    </section>

    <!-- MODAL -->

    <div id="paperModal"
        class="modal">

        <div class="modal-content">

            <span class="close"
                onclick="closeModal()">

                &times;

            </span>

            <h2 id="paperTitle"></h2>

            <img src="{{ url_for('static',
            filename='images/teacher.jpg') }}"
            class="modal-teacher">

            <p id="paperDescription"></p>

            <img id="paperQR"
                width="150">

            <br><br>

            <a id="paperLink"
                target="_blank"
                class="btn">

                Open Paper

            </a>

        </div>

    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
